.container {
  width: 1110px;
  max-width: 1110px;
}

a {
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
}

header {
  height: 100px;
  background-color: transparent;
}

.logo img {
  max-width: 172px;
}

.nav-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.language a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.language .flag {
  max-width: 32px;
  margin-right: 10px;
}

.action .btn {
  padding: 11px 28px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-left: 20px;
}

.main {
  height: 782px;
  background-image: url(./img/bg.jpg);
  background-color: #f2f1ef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.main .header-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 250px;
}

.main .header-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 40px;
}

.main .btn {
  padding: 16px 50px;
  background-color: #ffffff;
  border: none;
  font-family: "Lato", sans-serif;
  color: #ed4c5c;
  text-transform: uppercase;
}

.sub-header {
  margin-top: 90px;
  margin-bottom: 95px;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 45px;
}

.content .text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ed4c5c;
  text-decoration: none;
}

.video {
  position: relative;
  top: 0;
  left: 0;
}

.video img {
  max-width: 478px;
  position: relative;
  top: 0;
  left: 0;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 113px;
  width: 66px;
  height: 66px;
  background-color: #ed4c5c;
  border-radius: 50%;
}

.features {
  padding-top: 60px;
  padding-bottom: 230px;
  background-color: #fafafa;
}

.section-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  margin-bottom: 75px;
}

.card-thumbnail {
  position: relative;
  top: 0;
  left: 0;
}

.card-content {
  position: absolute;
  top: 150px;
  left: 26px;
  text-align: center;
  background-color: #fff;
  width: 293px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}

.card-content .title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  margin-bottom: 20px;
}

.card-content .text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #101010;
  margin-bottom: 26px;
}

.technology {
  padding-top: 60px;
  padding-bottom: 130px;
  text-align: center;
}

.technology .section-title {
  margin-bottom: 60px;
}

.technology .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  margin-bottom: 10px;
}

.technology .text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin: 0 30px;
}

.banner {
  background-color: #ed4c5c;
  color: #fff;
  padding: 95px 0;
}

.banner .text {
  color: #fff;
  margin-bottom: 44px;
}

.banner .icon img {
  width: 32px;
  height: 32px;
  margin-right: 23px;
}

.slider img {
  max-width: 533px;
}

.contact {
  padding: 110px 78px;
}

.contact .text {
  margin-right: 100px;
}

.form-control,
.form-select {
  padding: 20px 30px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 24px;
}

.red-btn {
  background-color: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 34px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.form-control::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

.footer {
  padding: 85px 0;
  background-color: #fafafa;
}

.footer .title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 30px;
}

.footer .text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}

.footer .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
  padding: 2px 0;
}

.footer .icon {
  margin-right: 8px;
}

.footer .payment {
  max-width: 216px;
}

.footer .copyright {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-top: 86px;
  margin-bottom: 0;
}
